[submodule "modules/lang/soy"]
	path = modules/lang/soy
	url = https://github.com/soylang-org/soy.git
[submodule "modules/builder"]
	path = modules/builder
	url = https://github.com/soylang-org/soybuilder.git
[submodule "modules/soycc"]
	path = modules/soycc
	url = https://github.com/soylang-org/soycc.git
[submodule "modules/soyar"]
	path = modules/soyar
	url = https://github.com/soylang-org/soyar.git
[submodule "modules/soyas"]
	path = modules/soyas
	url = https://github.com/soylang-org/soyas.git
[submodule "modules/soyda"]
	path = modules/soyda
	url = https://github.com/soylang-org/soyda.git
[submodule "modules/soyld"]
	path = modules/soyld
	url = https://github.com/soylang-org/soyld.git
[submodule "modules/soylint"]
	path = modules/soylint
	url = https://github.com/soylang-org/soylint.git
[submodule "modules/soyzr"]
	path = modules/soyzr
	url = https://github.com/soylang-org/soyzr.git
[submodule "modules/soyman"]
	path = modules/soyman
	url = https://github.com/soylang-org/soyman.git
[submodule "modules/soydbg"]
	path = modules/soydbg
	url = https://github.com/soylang-org/soydbg.git
[submodule "modules/target/arm"]
	path = modules/target/arm
	url = https://github.com/soylang-org/target-arm.git
[submodule "modules/target/arm64"]
	path = modules/target/arm64
	url = https://github.com/soylang-org/target-arm64.git
[submodule "modules/target/x86"]
	path = modules/target/x86
	url = https://github.com/soylang-org/target-x86.git
[submodule "modules/target/x86_64"]
	path = modules/target/x86_64
	url = https://github.com/soylang-org/target-x86-64.git
[submodule "modules/target/sh4"]
	path = modules/target/sh4
	url = https://github.com/soylang-org/target-sh4.git
[submodule "modules/target/vmu"]
	path = modules/target/vmu
	url = https://github.com/soylang-org/target-vmu.git
[submodule "modules/target/avr"]
	path = modules/target/avr
	url = https://github.com/soylang-org/target-avr.git
